# Dependencies
node_modules/
*/node_modules/
*/*/node_modules/
*/*/*/node_modules/

# Environment variables
.env
.env.local
.env.*.local
.dev.vars

# Build and bundles
dist/
dist-ssr/
build/
*.local
.wrangler/
.expo/
.expo-shared/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
